<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,190},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,169},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>aboutA.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,649},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>aboutB.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,623},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>backA.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,659},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>backB.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,633},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>backtomenuA.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,615},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>backtomenuB.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,597},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>down.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{455,400},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>down1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{455,367},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gameoverA.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,571},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>gameoverB.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,545},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>grid.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{488,393},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>head.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{488,376},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>left.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{455,334},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>left1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{455,301},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>leftWelcome.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,252},{453,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,250}}</string>
                <key>sourceSize</key>
                <string>{453,250}</string>
            </dict>
            <key>menubg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{453,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,250}}</string>
                <key>sourceSize</key>
                <string>{453,250}</string>
            </dict>
            <key>newgameA.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,607},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>newgameB.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,581},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>right.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{455,268},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>right1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{455,235},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,410},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{15,14}}</string>
                <key>sourceSize</key>
                <string>{29,16}</string>
            </dict>
            <key>settingA.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,555},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>settingB.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,529},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,211},{130,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,16}}</string>
                <key>sourceSize</key>
                <string>{130,16}</string>
            </dict>
            <key>snackbg1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,503},{240,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,180}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sound-off-A.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,127},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>sound-off-B.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,85},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>sound-on-A.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,43},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>sound-on-B.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>startA.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,503},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>startB.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,503},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>stopA.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,433},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>stopB.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,433},{111,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,25}}</string>
                <key>sourceSize</key>
                <string>{111,25}</string>
            </dict>
            <key>tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,359},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>up.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{455,202},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>up1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{455,169},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,342},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecbfeb610b7f027622cc65b99ab39a03$</string>
            <key>textureFileName</key>
            <string>snack.png</string>
        </dict>
    </dict>
</plist>
