<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2005},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2005},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>aboutA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1071},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>aboutB.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1970},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>backA.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1698},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>backB.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1698},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>backtomenuA.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1698},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>backtomenuB.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1920},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>down.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{907,784},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>down1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{907,719},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gameoverA.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1698},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>gameoverB.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1698},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>grid.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{180,2005},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>head.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{147,2005},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>left.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{907,654},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>left1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{907,589},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>leftWelcome.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,502},{905,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{905,500}}</string>
                <key>sourceSize</key>
                <string>{905,500}</string>
            </dict>
            <key>menubg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{905,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{905,500}}</string>
                <key>sourceSize</key>
                <string>{905,500}</string>
            </dict>
            <key>newgameA.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1698},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>newgameB.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1698},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>right.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{907,524},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>right1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{907,459},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2005},{29,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{29,27}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>settingA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1955},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>settingB.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,995},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1698},{256,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{256,31}}</string>
                <key>sourceSize</key>
                <string>{260,31}</string>
            </dict>
            <key>snackbg1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1217},{480,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,360}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>sound-off-A.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,248},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>sound-off-B.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,167},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>sound-on-A.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,84},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>sound-on-B.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>startA.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,849},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>startB.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,773},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>stopA.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,551},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>stopB.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,329},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2005},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>up.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{907,394},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>up1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{907,329},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2005},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snack-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bb6523b43ad75e968687576813b655e$</string>
            <key>textureFileName</key>
            <string>snack-hd.png</string>
        </dict>
    </dict>
</plist>
